<h1>Institutional Activities</h1>

<ul>

  <% @activity.each do |activity| %>

  <li>

    Faculty Member: <%= activity.user.first_name %> <br>
    Service Type: <%= activity.service_type %><br>
    Activity Title: <%= activity.title %><br>
    Presentation: <%= activity.presentation %><br>
    Blog: <%= activity.blog %> <br>
    Description: <%= activity.description %>
    <p>
  </li>
  <% end %>

</ul>