<h1>Add Faculty Activity</h1>

<%= form_for(@activity) do |a| %>

  <div class="field">
    <%= a.label :service_type %><br>
    <%= a.text_field :service_type %>
  </div>
  <div class="field">
    <%= a.label :title %><br>
    <%= a.text_field :title %>
  </div>
  <div class="field">
    <%= a.label :presentation %><br>
    <%= a.text_field :presentation %>
  </div>
  <div class="field">
    <%= a.label :blog %><br>
    <%= a.text_field :blog %>
  </div>
  <div class="field">
    <%= a.label :description %><br>
    <%= a.text_field :description %><br>
  </div>
  <div class="field">
    <%= a.label :date %><br>
    <%= a.text_field :date %>
  </div>

  <div class="actions">
    <%= a.submit %>
  </div>

<% end %>