<h1>Edit Faculty Profile</h1>

<%= form_for(@faculty_member) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :suffix %><br>
    <%= f.text_field :suffix %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
  </div>
  <div class="field">
    <%= f.label :datatel_id %><br>
    <%= f.text_field :datatel_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>